<h1>Editing Cohort</h1>

<div class="row">
  <%= render 'form', cohort: @cohort %>
</div>



<div class="row">
  <%= link_to 'Delete Cohort', cohort_path(@cohort),
              class: "btn red",
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</div>
