
<div class="row">
  <ul class="collection with-header">
    <li class="collection-header"><h4>Cohort Students Starting <%= @cohort.start_date.strftime('%m/%d/%Y') %></h4></li>
    <% @students.each do |student| %>
      <li class="collection-item"><%= link_to student.name, cohort_student_path(@cohort, student) %> | <%= mail_to student.email, student.email %></li>
    <% end %>
  </ul>
</div>

<div class="row">
  <%= link_to "Edit Cohort", edit_cohort_path(@cohort), class: "btn" %>
</div>
