<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag :email %>
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

    <body>
    <div class="header container">
      <div class="row">
        <div class="col s12">
          <div class="col s1"></div>
          <div class="col s5">
              <%= link_to 'http://theironyard.com', class: "logo", id: "logo-container" do  %>
                <%= image_tag "https://gallery.mailchimp.com/faf8950d348af93ef0627852f/images/59988fe2-51aa-4332-930b-36b96419653d.png" %>
              <% end %>
          </div>
          <div class="col s5">
            <div class="greeting">
              <h5 class="">Greetings from The Iron Yard</h5>
            </div>
          </div>
          <div class="col s1"></div>
        </div>
      </div>
    </div>

      <div class="container">
        <%= yield %>
      </div>
    </body>
</html>
